.vedios-warpper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px 10%;
}

.vedio-frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  min-height: 300px;
  max-height: 400px;
  margin: 0 auto;
  background: var(--background-color);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  overflow: hidden;
  border-radius: 10px;
  p {
    font-size: 18px;
    width: 100%;
    color: var(--text-color);
  }
  iframe {
    border-radius: 10px;
    border: 0;
    width: 100%;
    min-height: 250px;
  }
}
.vedio-frame:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 48px rgba(0, 0, 0, 0.3);
  transform: perspective(2000px) rotateY(7deg) translateZ(30px);
}

@media (max-width: 991px) {
  .vedio-frame {
    width: 80%;
  }
}
@media (max-width: 775px) {
  .vedio-frame {
    width: 100%;
  }
}
