body {
  font-family: Poppins;
  width: 100%;
  background: var(--background-color);

  height: 1000vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}
