/* To prevent scrool more when it hide */
.skills-content {
  min-height: 35vh;
}
@media (max-width: 591px) {
  .skills-content {
    min-height: 75vh;
  }
}
.tsparticles-skills-container {
  height: 100%;
  color: var(--text-color);
}
/* << Start Skills items Title */
.skills-content .skills-items {
  background: var(--nav-bg-color);
  backdrop-filter: blur(1.5px);
  padding: 20px;
  border-radius: 10px;
}
.skills-content .skills-items .title {
  font-size: 28px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.skills-items .title svg {
  color: var(--main-color);
}
/* End Skills items Title //>> */

/* << Start Wrapper of all titles and slkills */
.tech-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.tech-wrapper div {
  width: 45%;
}
.tech-wrapper .tech-title {
  font-size: 20px;
}
.tech-wrapper .icons {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.tech-wrapper .img-wrapper {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: -10px;
}
.tech-wrapper .img-wrapper img {
  max-width: 100%;
  height: 100%;
}
.img-wrapper img.js {
  max-width: 90%;
  padding-top: 3px;
  height: 95%;
}
@media (max-width: 591px) {
  .tech-wrapper {
    gap: 30px;
  }
  .tech-wrapper div {
    width: 100%;
  }
  .tech-wrapper .tech-title {
    font-size: 18px;
  }
  .techniques p {
    font-size: 14px;
  }
  .tech-wrapper .img-wrapper {
    width: 35px;
    height: 35px;
  }
}
/* << Start Animation  */
@keyframes hideShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(1) {
  animation: hideShow 1s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(2) {
  animation: hideShow 1.4s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(3) {
  animation: hideShow 1.8s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(4) {
  animation: hideShow 2.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(1) {
  animation: hideShow 2.6s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(2) {
  animation: hideShow 3s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(3) {
  animation: hideShow 3.4s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(4) {
  animation: hideShow 3.8s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(5) {
  animation: hideShow 4.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(1) {
  animation: hideShow 4.6s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(2) {
  animation: hideShow 5s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(3) {
  animation: hideShow 5.4s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(4) {
  animation: hideShow 5.8s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(5) {
  animation: hideShow 6.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.techniques .img-wrapper:nth-of-type(1) {
  animation: hideShow 6.6s 1 step-end;
}
.tech-wrapper .icons.techniques .img-wrapper:nth-of-type(2) {
  animation: hideShow 7s 1 step-end;
}
/* End Animation //>> */

/* << End Wrapper of all titles and slkills */

/* .tech-wrapper .icons.languages {
  animation: hideShow 1s 1 step-end;
}
.tech-wrapper .icons.frameworks {
  animation: hideShow 2.2s 1 step-end;
}
.tech-wrapper .icons.tools {
  animation: hideShow 3s 1 step-end;
}
.tech-wrapper .icons.techniques {
  animation: hideShow 4s 1 step-end;
} */
