.tsparticles-skills-container {
  /* background-color: #002d72; */
  /* background-color: #002d72; */
  /* background-color: #004e92; */
  /* background-color: #c8a2c8; */
  /* background-color: #003d6b; */

  /* background: linear-gradient(135deg, #f6d365 0%, #fda085 100%); */

  background-color: var(--section-bg);

  /* background: linear-gradient(135deg, #000428 0%, #004e92 100%); */
  /* background-color: #66a6ff; */

  /* background: linear-gradient(135deg, #74b9ff 0%, #a29bfe 100%); */
  /* background: linear-gradient(0deg, #6dd5ed 0%, #2193b0 100%); */
  /* background: linear-gradient(0deg, #89f7fe 0%, #66a6ff 100%); */

  /* Dark */
  /* background: linear-gradient(135deg, #004e92 0%, #000428 100%); */
  /* background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); */
  /* Light */
  /* background: linear-gradient(135deg, #1a2980 0%, #26d0ce 100%); */
  /* background: linear-gradient(0deg, #89f7fe 0%, #66a6ff 100%); */
  min-height: 100vh !important;
  z-index: -1;
}

:root {
  --indecator-width: 3px;
  --indecator-bg: linear-gradient(135deg, #3b82f6 0%, #004e92 100%) 1;
}

.tsparticles-skills-container .skills-content {
  height: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  min-height: 100vh !important;
}
.tsparticles-skills-container .container {
  padding-bottom: 50px;
}

.skills-title {
  background-color: var(--section-bg);

  padding-top: 50px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-wrraper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #3b82f6 0%, #004e92 100%);
  border-radius: 7px;
  padding: 10px 20px;
  color: white;
  background-clip: padding-box;
}
@media (max-width: 575px) {
  .title-wrraper {
    padding: 5px 10px;
    font-size: 20px;
  }
}
.skills-description {
  padding-top: 50px;
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: var(--text-color);
}
.indecators-parent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.wrraper {
  width: 100%;
  position: relative;
  text-align: center;
}
.indecator {
  position: relative;
  width: 50%;
  height: 70px;
  border-bottom: var(--indecator-width) solid transparent;
  border-image: var(--indecator-bg);
}
.indecator::before {
  content: "";
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: var(--indecator-width);
  background: linear-gradient(135deg, #3b82f6 0%, #004e92 100%);
  border-radius: 20px;
}
.indecator.r {
  border-right: var(--indecator-width) solid transparent;
  margin-left: auto;
}
.indecator.l {
  border-left: var(--indecator-width) solid transparent;
  border-image: linear-gradient(300deg, #3b82f6 0%, #004e92 100%) 1;
}
.indecator.r::before {
  left: 0;
}
.indecator.l::before {
  right: 0;
}

.languages,
.frame-works {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: zoom-in;

  justify-content: center;
}

.light-theme {
  .languages span,
  .frame-works span {
    background: linear-gradient(
      45deg,
      rgba(240, 248, 255, 0.8),
      /* Light soft blue */ rgba(200, 230, 255, 0.5) /* Light blue */
    );

    outline: 2px solid var(--main-color);
  }
}

.languages span,
.frame-works span {
  background: linear-gradient(
    45deg,
    rgba(47, 55, 78, 0.8),
    rgba(38, 57, 90, 0.5)
  );

  backdrop-filter: blur(10px);
  padding: 1px 5px;
  border: 2px solid var(--section-bg);
  outline: 2px solid #1b2048;
  color: var(--main-color);
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .languages span,
  .frame-works span {
    font-size: 12px;
    padding: 1px 5px;
  }
}

.wrraper span:hover {
  transform: scale(1.07);
}

/*
  background: linear-gradient(
    45deg,
    rgba(250, 223, 234, 0.5),
    rgba(198, 251, 250, 0.2)
  );
*/
