/* To prevent scrool more when it hide */
.skills-content {
  min-height: 40vh;
}
@media (max-width: 591px) {
  .skills-content {
    min-height: 75vh;
  }
}
.skills-content .container {
  height: 100%;
}
.tsparticles-skills-container {
  height: 100%;
  color: var(--text-color);
}
/* << Start Skills items Title */
.skills-content .skills-items {
  background: var(--nav-bg-color);
  backdrop-filter: blur(1.5px);
  padding: 20px;
  border-radius: 10px;
}
.skills-content .skills-items .title {
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--text-color);
  /* background: linear-gradient(
    180deg,
    var(--main-color) 30%,
    var(--text-color) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.skills-items .title svg {
  color: var(--main-color);
}
/* End Skills items Title //>> */

/* << Start Wrapper of all titles and slkills */
.tech-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.tech-wrapper div {
  width: 45%;
}
.tech-wrapper .tech-title {
  font-size: 23px;
}
.tech-wrapper .icons {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: fit-content;
  perspective: 1000;
}
.tech-wrapper .img-wrapper {
  width: 45px;
  height: 45px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: -10px;
  transform: rotateX(1deg);
  transform-style: preserve-3d;
  box-shadow: 0 3px 3px var(--main-color);
  transition: 0.3s;
  border: 2px solid var(--secondary-text);
}

.tech-wrapper .img-wrapper:hover {
  transform: rotateX(10deg) translateZ(10px) rotateY(10deg);
  box-shadow: -2px 5px 6px var(--main-color);
}
.tech-wrapper .img-wrapper img,
.tech-wrapper .img-wrapper svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-wrapper img.js {
  max-width: 90%;
  padding-top: 3px;
  height: 95%;
}
@media (max-width: 591px) {
  .tech-wrapper {
    gap: 30px;
  }
  .tech-wrapper div {
    width: 100%;
  }
  .tech-wrapper .tech-title {
    font-size: 22px;
  }
  .techniques p {
    font-size: 14px;
  }
  .tech-wrapper .img-wrapper {
    width: 38px;
    height: 38px;
  }
}
/* << Start Animation  */
@keyframes hideShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(1) {
  animation: hideShow 1s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(2) {
  animation: hideShow 1.4s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(3) {
  animation: hideShow 1.8s 1 step-end;
}
.tech-wrapper .icons.languages .img-wrapper:nth-of-type(4) {
  animation: hideShow 2.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(1) {
  animation: hideShow 2.6s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(2) {
  animation: hideShow 3s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(3) {
  animation: hideShow 3.4s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(4) {
  animation: hideShow 3.8s 1 step-end;
}
.tech-wrapper .icons.frameworks .img-wrapper:nth-of-type(5) {
  animation: hideShow 4.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(1) {
  animation: hideShow 4.6s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(2) {
  animation: hideShow 5s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(3) {
  animation: hideShow 5.4s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(4) {
  animation: hideShow 5.8s 1 step-end;
}
.tech-wrapper .icons.tools .img-wrapper:nth-of-type(5) {
  animation: hideShow 6.2s 1 step-end;
}
/*  */
.tech-wrapper .icons.techniques .img-wrapper:nth-of-type(1) {
  animation: hideShow 6.6s 1 step-end;
}
.tech-wrapper .icons.techniques .img-wrapper:nth-of-type(2) {
  animation: hideShow 7s 1 step-end;
}
/* End Animation //>> */

/* << End Wrapper of all titles and slkills */

/* .tech-wrapper .icons.languages {
  animation: hideShow 1s 1 step-end;
}
.tech-wrapper .icons.frameworks {
  animation: hideShow 2.2s 1 step-end;
}
.tech-wrapper .icons.tools {
  animation: hideShow 3s 1 step-end;
}
.tech-wrapper .icons.techniques {
  animation: hideShow 4s 1 step-end;
} */
