.tsparticles-line-container {
  min-height: 100vh !important;
}
#tsparticles {
  width: 100%;
  min-height: 100%;
}
.tsparticles-line-container .home-content {
  min-height: 100vh;
  background: var(--background-color) !important;
  background-color: red;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
  gap: 30px;

  position: relative;
  z-index: 1;
}

.typing-container div {
  font-size: 30px !important;
  color: var(--text-color);
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .typing-container div {
    font-size: 20px !important;
  }
}
@media (max-width: 791px) {
  .typing-container div {
    font-size: 24px !important;
  }
}
.typing-container div::after {
  color: var(--main-color);
}
