header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--nav-bg-color);
  z-index: 10000;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: var(--bg-blur);
  -webkit-backdrop-filter: var(--bg-blur);
  z-index: -1;
}
.logo-header p {
  font-size: 20px;
  font-weight: bold;
  /* font-family: "Lobster", cursive, sans-serif; */
  font-family: "Pacifico", cursive, sans-serif;
  background: linear-gradient(135deg, #3b82f6 0%, #004e92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.toggle-nav {
  min-width: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  height: 100%;
}
.light-dark-mode {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 6px;
}
.nav-icon {
  position: relative;
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.nav-icon span {
  width: 100%;
  height: 2px;
  transition: 0.3s;
  /* background-color: var(--text-color); */
  background-color: #fff;
}
nav {
  position: absolute;
  top: 60px;
  right: calc(5% - 15px);
  width: fit-content;
  height: 0px;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 0.5s ease, opacity 0.5s ease;
  z-index: 10000;
}
nav .container {
  box-shadow: inset 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgba(4, 4, 4, 0.3);
  backdrop-filter: var(--bg-blur);
  -webkit-backdrop-filter: var(--bg-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
nav ul li {
  transition: 0.3s;
  width: 30px;
}
nav ul li:not(ul li:first-of-type) {
  margin: 20px 0;
}
nav ul li:hover {
  padding-left: 10px;
}
nav ul li a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.toggle-nav.close {
  span.remove {
    display: none;
  }

  span {
    position: absolute;
  }

  span:first-of-type {
    transform: rotate(45deg);
  }

  span:last-of-type {
    transform: rotate(-45deg);
  }

  nav {
    height: 300px;
  }
  nav .container {
    padding: 40px 20px;
  }
  nav:hover {
    height: 330px;
  }
}
