.tsparticles-skills-container {
  height: 100vh !important;
  z-index: -1;
}

/*  
.rotating-border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 43px; /* Adjust padding as needed */
/* font-size: 24px; */
/* font-weight: bold; Makes the font bold */
/* color: #000; */
/* text-align: center; */
/* width: 150px; Adjust width to fit your design */
/* height: 150px; Adjust height to fit your design */
/* border-radius: 50%; Makes the border circular */
/* background-color: #fff; Optional: background color */
/* border: 3px dotted #ff5733; Dotted border color */
/* } */
/*  */
/* .rotating-border::before, */
/* .rotating-border::after { */
/* content: ""; */
/* position: absolute; */
/* width: 120%; */
/* height: 120%; */
/* border-radius: 50%; Makes the border circular */
/* border: 3px dotted #ff5733; Dotted border color */
/* box-sizing: border-box; */
/* } */
/*  */
/* .rotating-border::before { */
/* width: 110%; */
/* height: 110%; */
/* }

.rotating-border::before {
  animation: rotateBorderRight 3s linear infinite;
  z-index: -2; 
}

.rotating-border::after {
  animation: rotateBorderLeft 3s linear infinite;
  z-index: -1; }

@keyframes rotateBorderRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBorderLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */

/* _________________________________________________________- */
/* _________________________________________________________- */

/* _________________________________________________________- */
/* _________________________________________________________- */
/* From Uiverse.io by xXJollyHAKERXx */
/* .spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
} 
  
  <div className="spinner">
              <div className="spinner1"></div>
  </div>
 */
